{
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 900px;
    font: 15px/22px Helvetica, Arial, sans-serif;
    background: #f0f0f0;
}

h2 {
    font-size: 28px;
    line-height: 44px;
    padding: 22px 0;
}

h3 {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

div.name h3 {
    padding-left: 102px;
}

div.reponame h3 {
    position: relative;
    top: -32px;
    padding-left: 10px;
}

div.top div.navigation {
    float: left;
}

div.top div.navigation ul {
    margin: 0;
    padding: 0;
}

div.top div.navigation li {
    background: #FFFFFF;
    border: 1px solid #aaaaaa;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    float: left;
    position: relative;
    margin: 4px;
    padding: 8px 20px 8px 20px;
    list-style-type: none;
}

div.top div.logos {
    float: right;
}

div.top div.status {
    clear: both;
    float: right;
    font-size: 80%;
    background: #eeeeee;
    border: 1px solid #aaaaaa;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 4px 10px 4px 10px;
    position: relative;
    z-index: 1;
}

div.top, div.item {
    clear: both;
    position:relative;
    top: -32px;
    padding: 21px;
    background: #E3E3E3;
    border: 1px solid #d7d7d7;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    width: 80%;
    margin-bottom: 2em;
}

div.avatar {
    position: relative;
    z-index: 1;
    left: 8px;
    padding: 8px;
    background: #E3E3E3;
    border: 1px solid #a7a7a7;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    width: 80px;
    height: 80px;
    float: left;
}

div.top {
    position: relative;
    top: -15px;
    padding-bottom: 4px;
    height: 56px;
}

div.name {
    clear: both;
    position: relative;
    top: -34px;
    left: 8px;
}

img.avatar {
    width: 80px;
    height: 80px;
}

span.heart {
    font-size: 400%;
}

span.heart a {
    text-decoration: none;
    color: #000;
}

abbr {
    font-weight: bold;
}

img {
    border: 0;
}